* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Itim', arial;
}
body {
  background-color: #061118;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  margin: 130px 0 40px 0;
  padding-inline: 10vw;
}

@media (max-width: 650px) {
  main {
    padding-inline: 5vw;
  }
}
@media (max-width: 400px) {
  main {
    padding-inline: 2vw;
  }
}
